@page "/"

    <div>
        <div class="inline-table">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="4" class="table-header">Currencies</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>
                            Currency
                        </th>
                        <th>
                            Unit
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            GBP
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            5.83
                        </td>
                        <td>
                            <button class="btn btn-primary">Buy</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="inline-table">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="5" class="table-header">Currencies</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>
                            Currency
                        </th>
                        <th>
                            Unit price
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            GBP
                        </td>
                        <td>
                            5.83
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            583
                        </td>
                        <td>
                            <button class="btn btn-primary">Buy</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td colspan="5">Available PLN:</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @code {

    }